@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Chrome, Safari, Edge, Opera -> Input Number Box */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Input 사파리 및 IOS Radius 초기화 */
input {
  -webkit-appearance: none;
  appearance: none;
  -webkit-border-radius: 0;
  border-radius: 0;
}

.cm-wrapper {
  @apply w-full max-w-[600px] border border-x-neutral-400 border-solid p-0;
}

.cm-button {
  @apply bg-neutral-400 text-white font-bold py-2 px-5 rounded;
}
